{% extends 'admin/base.html'%}

{%block body%}


<h1 class="text text-center text-success">QUẢN LÝ QUY ĐỊNH</h1>

<form method="POST" action="{{url_for('save_admin_rules')}}">
     <h3 class="text text-success">Quy định về chuyến bay</h3>
    <div class="row mt-3">
        <label for="min-time-flight" class="form-label">Qui định thời gian bay tối thiểu: (phút)</label>
        <input type="number" class="form-control" value="{{ admin_rules.min_time_flight }}" id="min-time-flight"  name="min-time-flight">
    </div>
    <div class="row mt-3">
        <label for="max_quantity_between_airport" class="form-label">Qui định số sân bay trung gian tối đa:</label>
        <input type="number" class="form-control" value="{{ admin_rules.max_quantity_between_airport }}" id="max_quantity_between_airport"  name="max_quantity_between_airport">
    </div>
    <div class="row mt-3">
        <label for="min_time_stay_airport" class="form-label">Qui định thời gian nghĩ nhanh nhất: (phút)</label>
        <input type="number" class="form-control" value="{{ admin_rules.min_time_stay_airport }}" id="min_time_stay_airport"  name="min_time_stay_airport">
    </div>
    <div class="row mt-3">
        <label for="max_time_stay_airport" class="form-label">Qui định thời gian nghĩ lâu: (phút)</label>
        <input type="number" class="form-control" value="{{ admin_rules.max_time_stay_airport }}" id="max_time_stay_airport"  name="max_time_stay_airport">
    </div>
    <br>
     <h3 class="text text-success">Quy định về vé</h3>
    <div class="row mt-3">
        <label for="time_book_ticket" class="form-label">Qui định thời gian đặt vé: (giờ)</label>
        <input type="number" value="{{ admin_rules.time_book_ticket }}" class="form-control" id="time_book_ticket"  name="time_book_ticket">
    </div>
    <div class="row mt-3">
        <label for="time_buy_ticket" class="form-label">Qui định thời gian mua vé: (giờ)</label>
        <input type="number" class="form-control" value="{{ admin_rules.time_buy_ticket }}" id="time_buy_ticket"  name="time_buy_ticket">
    </div>
    <div class="row mt-3">
        <button type="submit" class="btn btn-danger">Xác nhận thay đổi quy định</button>
    </div>
</form>
<br><br>


{%endblock%}

