{% extends 'layout/base.html' %}

{% block content %}

<h1>Thông tin các vé đã đặt</h1>
<p>Bạn nên kiểm tra các vé đã đặt lại 1 lần nữa trước khi thanh toán</p>
<h3>Người liên hệ: <span>{{session['ticket']['contact_info']['name']}}</span></h3>
<p>Số điện thoại liên hệ: <span>{{session['ticket']['contact_info']['phone']}}</span></p>

<h3 class="my-3">Thông tin về vé đã đặt</h3>
<table class="table mt-4">
    <tr>
        <th scope="col">Mã vé</th>
        <th scope="col">Tên khách hàng</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Email</th>
        <th scope="col">Số ghế</th>
        <th scope="col">Loại vé</th>
    </tr>
    {% for t in range(quantity_customers) %}
    <tr>
        <th>{{quantity_ticket + t}}</th>
        <th>{{data[t].name}}</th>
        <th>{{data[t].phone}}</th>
        <th>{{data[t].id_customer}}</th>
        <th>{{data[t].seat_number}}</th>
        <th>Vé hạng {{session['ticket']['ticket_type']}}</th>
    </tr>
    {%endfor%}
</table>
     <h4 class="text text-center text-success">Tổng số tiền phải thanh toán: <span id="price_total">{{ "{:,.0f}".format(session['ticket']['total'])}} VNĐ</span></h4>

<form action="/create-checkout-session/{{session['ticket']['f_id']}}" method="POST">
     <button type="submit" id="btn-checkout" class="btn btn-success">
        Thanh toán qua stripe
    </button>
    {%if current_user.user_role.value == 1 or current_user.user_role.value == 2 %}
        <button type="submit" id="btn-pay-cashier" class="btn btn-info">
        Thanh toán bằng tiền mặt
        </button>
    {%endif%}
</form>

<script>
    const payCashier= document.getElementById('btn-pay-cashier')
    payCashier.onclick=()=>{
        event.preventDefault()
        window.location.href='/bill_ticket/{{session['ticket']['f_id']}}'
    }


</script>
{%endblock%}