{%extends 'layout/base.html'%}

{%block title%}Đăng nhập{% endblock%}

{%block content%}

<h1 class="text text-center">Đăng nhập người dùng</h1>

{% if err_msg %}

<div class="alert alert-danger">
    <h4>{{err_msg}}</h4>
</div>

{%endif%}

<form method="POST" action="{{url_for('user_login')}}" class="was-validated">
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Nhập username" name="username" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu:</label>
        <input type="password" class="form-control" id="password" placeholder="Nhập password" name="password" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div>
         <div><a  class="text text-decoration-none" href="{{url_for('user_register')}}">Bạn chưa có tài khoản? </a></div>
    </div>
    <div class="mb-3 mt-3">
        <button type="submit" class="btn btn-danger">Đăng nhập</button>
        <div><a  class="text text-decoration-none" href="{{url_for('user_verify')}}">Bạn quên mật khẩu?</a></div>
    </div>
</form>
{%endblock%}