{% extends 'layout/base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center p-5">
    <div class="d-flex align-items-center gap-5 mb-3">
        <div class="fs-3 fw-bold">Thanh toán qua Paypal</div>
        <div style="color: rgb(255, 94, 31);" class="fw-bold fs-4"><span id="price" class="price">{{ session['form_ticket'].total }}</span> VNĐ</div>
    </div>
    <div class="card-body border col-lg-7 p-0">
        <p>
            <a class="btn btn-primary p-2 h-100 d-flex align-items-center justify-content-between"
               data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
               aria-controls="collapseExample">
                <span class="ms-2 fw-bold">Paypal</span>
            </a>
        </p>
        <div class="collapse show p-3 pt-0" id="collapseExample">
            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form__div">
                                    <label for="card-number" class="form__label">CARD NUMBER</label>
                                    <input value="1234 1234 1234 1234" type="text" id="card-number" class="form-control" placeholder="XXXX XXXX XXXX XXXX">
                                </div>
                            </div>

                            <div class="col-6 mt-3">
                                <div class="form__div">
                                    <label for="mm-yy" class="form__label">MM / YY</label>
                                    <input value="12 / 34" type="text" id="mm-yy" class="form-control" placeholder="XX / XX">
                                </div>
                            </div>

                            <div class="col-6 mt-3">
                                <div class="form__div">
                                    <label for="cvc-code" class="form__label">CVC CODE</label>
                                    <input value="123" type="password" id="cvc-code" class="form-control" placeholder="XXX">
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="form__div">
                                    <label for="name-card" class="form__label">NAME ON THE CARD</label>
                                    <input value="CNPM" type="text" id="name-card" class="form-control" placeholder=" ">
                                </div>
                            </div>
                            <div class="col-12">
                                <button id="submit-btn" class="mt-4 btn btn-primary w-100">Thanh toán ngay</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% block js %}
<script defer src="{{ url_for('static', filename='js/pay.js') }}"></script>
{% endblock %}
{% endblock %}