{%extends 'layout/base.html'%}

{%block title%}Dang ky nguoi dung{% endblock%}

{%block content%}
<form method="POST" action="{{url_for('reset_pwd')}}">
  <div class="mb-3 mt-3">
    <label for="password" class="form-label">Nhập mật khẩu mới:</label>
    <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu mới" name="password">
  </div>
  <div class="mb-3">
    <label for="confirm" class="form-label">Xác nhận mật khẩu</label>
    <input type="password" class="form-control" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm">
  </div>
  <button type="submit" class="btn btn-primary">Đổi mật khẩu mới</button>
</form>
{%endblock%}