{% extends 'layout/base.html' %}

{% block content %}

<div class="mt-4 gap-3 d-md-flex d-block">
    <form class="flex-grow-1 shadow shadow-lg rounded p-2">
        <div>
            <h5 class="ms-2 fw-bold mt-3">
                Thông tin liên hệ
            </h5>
            <div class="d-block d-md-flex gap-4 bg-white p-2 rounded-2">
                <div class="w-50 mb-3">
                    <label for="name" class="fw-bold form-label">Họ và tên </label>
                    <input value="Trần Lê Anh Quí" placeholder="Trần Lê Anh Quí" required minlength="4"
                           type="text" name="name" class="fullname form-control" id="name" readonly>
                </div>
                <div class="w-50 mb-3">
                    <label for="phone" class="fw-bold form-label">Số điện thoại </label>
                    <input value="0337518997" placeholder="XXXXXXXXXX" required minlength="10"
                           maxlength="10" type="text" name="phone" class="phone form-control" id="phone" readonly>
                </div>
                <div class="w-50 mb-3">
                    <label for="phone" class="fw-bold form-label">Email </label>
                    <input value="abc@gmail.com" placeholder="XXXXXXXXXX" required minlength=""
                           maxlength="" type="text" name="phone" class="phone form-control" id="email" readonly>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h5 class="ms-2 fw-bold">
                Thông tin hành khách <span id="add-customer" class="btn btn-primary">+</span><span id="sub-customer"
                                                                                                   class="ms-2 btn btn-danger">-</span>
            </h5>
            <p class="text-warning ms-2">Hãy chắc chắn rằng tên của hành khách khớp với tên trên CCCD/CMND/Hộ chiếu/Giấy
                phép
                lái xe do chính
                phủ cấp.
                Bạn nên tránh sai sót vì một số hãng hàng không không cho phép sửa tên sau khi đặt vé.</p>
            <div class="customer-info d-block d-md-flex gap-4 bg-white p-2 rounded-2">
                <div class="flex-grow-1 mb-3">
                    <label for="name-1" class="fw-bold form-label">Họ và tên </label>
                    <input value="Nguyễn Văn B" placeholder="Nguyễn Văn A" required minlength="4"
                           type="text" name="name-1" class="fullname-1 form-control" id="name-1">
                </div>
                <div class="flex-grow-1 mb-3">
                    <label for="name-1" class="fw-bold form-label">Email </label>
                    <input value="abc@gmail.com" placeholder="abc@gmail.com" required minlength="4"
                           type="text" name="DOB-1" class="DOB-1 form-control" id="date_of_birth-1">
                </div>
                <div class="flex-grow-1 mb-3">
                    <label for="phone-1" class="fw-bold form-label">Số điện thoại </label>
                    <input value="1234567890" placeholder="XXXXXXXXXX" required minlength="10" maxlength="10" type="text" name="phone-1" class="phone-1 form-control" id="phone-1">
                </div>
                <div class="flex-grow-1 mb-3">
                    <label for="id-1" class="fw-bold form-label">CMND/CCCD </label>
                    <input value="1234567890" placeholder="XXXXXXXXXX" required minlength="10" maxlength="10" type="text" name="id-1" class="id-1 form-control" id="id-1">
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h5 class="ms-2 fw-bold">
                Thông tin hành lý
            </h5>
            <p class="text-warning ms-2">
                Sao bạn phải cố nhồi nhét? Thêm hành lý để chuyến đi thêm nhẹ nhàng.
            </p>
            <datalist id="packages">
                <option value="8"></option>
                <option value="12"></option>
            </datalist>
            <div class="d-flex gap-4 bg-white p-2 rounded-2">
                <div class="flex-grow-1 mb-3">
                    <label for="package" class="fw-bold form-label">Hành lý thêm (kg) </label>
                    <select id="package" class="form-select">
                        <option selected value="0">0</option>
                        <option value="8">12</option>
                        <option value="12">20</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <button data-user="{{ current_user.user_role }}" data-userId="{{ current_user.get_id() }}"
                     id="choose_seat" class="btn btn-success mx-2 w-50 mb-3">
                Chọn ghế
            </button>
        </div>
    </form>
    <div class="ticket-flight-info" style="">
        <div style="margin-top: 32px" class="bg-white shadow-sm p-3 rounded-2">
            <div class="my-3;" style="width = 100%; height: 200px;">
                <img src="https://www.diesel-plus.com/wp-content/uploads/2019/07/Airplane-Sky-201811-001-720x475.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="">
            </div>
            <div class="fw-bold mt-3 fs-3">
                {{ f.departure_airport }} → {{ f.arrival_airport }}
            </div>
            <hr>
            <div class="fs-5"><i class="fa-solid fa-ticket"></i> Hạng <span class="ticket-type">{{ session['inp_search'].ticket_type }}</span></div>
            <div class="fs-5"> <i class="fa-solid fa-clock"></i> {{f.time_start}}</div>
            <hr>
            <div class="fst-italic text-muted">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/c/cb44d8f687512efb3aa32c7b6f46d9ab.svg"
                     width="12" height="12" style="margin-right: 8px; flex-shrink: 0;">
                Không hoàn tiền
            </div>
            <div class="fw-bold fst-italic text-success">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/0451207408e414bb8a1664153973b3c8.svg"
                     width="12" height="12" style="margin-right: 8px; flex-shrink: 0;">
                Có áp dụng đổi lịch bay
            </div>
        </div>
        <div style="margin-top: 32px"
             class="d-flex justify-content-between align-items-center bg-white shadow-sm p-3 rounded-2">
            <div>
                Tổng tiền:
            </div>
            <div style="color: rgb(255, 94, 31);" class="price fw-bold fs-4">{%if f.price_type_1!=0%}
                <span data-price="{{ f.price_type_1 }}">{{ f.price_type_1 }}</span>
                {%else%}
                <span data-price="{{ f.price_type_2 }}">{{ f.price_type_2 }}</span>
                {%endif%}
            </div>
        </div>
    </div>
</div>

<br><br><br>
<div style="width:80%; margin: 0 auto;">
    <h1  class="text text-success text-center">Chọn ghế</h1>
    <form style="width:50%; margin: 0 auto;">

        {%for x in range(1, 200, 6)%}
        <div class="d-flex justify-content-between">
            <div>
                <input class="seat" style="width:45px; height:30px;" type="checkbox" id="{{x}}"
                       name="seat{{x}}">
                <input class="seat" style="width:45px; height:30px;"  type="checkbox" id="{{x+1}}"
                       name="seat{{x}}">
                <input class="seat" style="width:45px; height:30px;"  type="checkbox" id="{{x+2}}"
                       name="seat{{x}}">
            </div>
            <div>
                <input class="seat" style="width:45px; height:30px;"  type="checkbox" id="{{x+3}}"
                       name="seat{{x}}">
                <input class="seat" style="width:45px; height: 30px;"  type="checkbox" id="{{x+4}}"
                       name="seat{{x}}">
                <input class="seat" style="width:45px; height: 30px;" type="checkbox" id="{{x+5}}"
                       name="seat{{x}}">
            </div>
        </div>
        {%if x== 97%}
        <br><br>
        {%endif%}

        {%endfor%}
        <div>
            {%if current_user.is_authenticated%}
            <button id="accept_ticket" class="btn btn-primary mx-2 w-100">
                Xác nhận đặt vé
            </button>
            {%else%}
            <a href="{{ url_for('user_login', next=request.url) }}" class="btn btn-warning mx-2 w-100">Đăng nhập để xác nhận đặt vé</a>
            {%endif%}
        </div>
    </form>
</div>
{% block js %}
<script>
   {%for s in seat_active%}
        const seatId{{s}}= document.getElementById('{{s}}')
        seatId{{s}}.checked= isChecked
        seatId{{s}}.disable= isReadonly
   {%endfor%}
</script>
<script defer src="{{ url_for('static', filename='js/ticket.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% endblock %}

