<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('home')}}">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="mynavbar">

            <form class="d-flex me-auto">
                <input class="form-control me-2" type="text" placeholder="Tìm vé chuyến bay">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#">
                        {%if current_user.avatar %}
                        <img src="{{current_user.avatar}}" class="rounded-circle" width="30"
                             alt="{{current_user.name}}"/>
                        {%else%}
                        <img src="{{url_for('static', filename='images/avatar_male.jpg')}}" class="rounded-circle"
                             width="30" alt="{{current_user.name}}"/>
                        {%endif%}
                        {{current_user.username}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="{{url_for('user_logout')}}">Đăng xuất</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{url_for('user_login')}}">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="{{url_for('user_register')}}">Đăng ký</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>
